* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1366px;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  background-color: white;
  color: #122947;
  margin: 0 auto;
}

a {
  color: #122947;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header {}

.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 40px 98px 70px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 51px;
}

.menu a {
  font-size: 16px;
  margin-right: 35px;
}

.menu a:last-child {
  margin-right: 0;
}

.usernav a {
  margin-right: 30px;
}

.menunav a:last-child {
  margin-right: 0;
}

main {
  width: 1366px;
  height: 4610px;
}

.container1 {
  max-width: 990px;
  margin: 0 auto;
  display: flex;
}

.container1__col {
  flex: 1;
}

.mainSpring {
  overflow: hidden;
}

.mainSpring_wrap {
  background: url(../assets/images/банер\ 1.png);
  width: 1366px;
  height: 400px;
  flex-shrink: 0;
  position: relative;
}

.mainSpringBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 284px;
  position: absolute;
  top: 50%;
  right: 20%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

}

.mainSpringBox__title {
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 30px;
}

.mainSpringBox__text {
  max-width: 284px;
  margin-bottom: 40px;
}

.mainSpringBox__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  width: 141px;
  height: 41px;
  padding: 13px 27px 16px;
  border-radius: 2px;
  border: 1px solid #b3bac1;
}

.care__img {
  margin-bottom: 15px;
}

.care__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}

.box1 {
  padding-top: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.box1__1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 58px;
  font-weight: 500;
  margin-bottom: 30px;
}

.box1__2 {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  margin-bottom: 40px;
}

.box1__3 {
  max-width: 141px;
  margin: 0 auto;
}

.box3__2 {
  width: 284px;
  height: 65px;
  font-weight: 400;
  font-size: 18px;
  line-height: 145%;
  margin-bottom: 40px;
}

.box3__3 {
  max-width: 141px;
  margin: 0;
}

.box__btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  width: 141px;
  height: 41px;
  padding: 13px 27px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #b3bac1;
}

.box__btn1 {
  font-size: 12px;
  font-weight: 500;
  line-height: 140%;
  width: 200px;
  height: 41px;
  padding: 13px 28px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #b3bac1;
}

.personalCare {
  padding: 140px 98px;
  overflow: hidden;
}

.personalCare__wrap {
  position: relative;
}

.personalCareImg {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 670px;
  height: 451px;
}

.personalCareBox {
  width: 670px;
  height: 583px;
  background-color: #f4f1ed;
  padding: 100px;
}

.personalCareBox__title {
  color: #122947;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 40px;
}

.personalCareBox__text {
  max-width: 329px;
  margin-bottom: 45px;
}

.personalCareBox__text p {
  color: #122947;
  font-family: Mplus 1p;
  font-size: 18px;
  font-weight: 400;
  line-height: 145%;
  margin-bottom: 18px;
}

.personalCareBox__text p:last-child {
  margin-bottom: 0;
}

.personalCareBox__btn {
  color: #122947;
  font-family: Mplus 1p;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  border-radius: 2px;
  border: 1px solid #b3bac1;
  width: 200px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box__btn:hover {
  background-color: rgb(254, 244, 244);
  color: rgb(144, 204, 150);
}

.box__btn1:hover {
  background-color: rgb(254, 244, 244);
  color: rgb(144, 204, 150);
}